* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0d0d0d;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
}

.logo {
  font-size: 18px;
  font-weight: bold;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile {
  background: #222;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 14px;
}

.menu {
  font-size: 20px;
  cursor: pointer;
}

/* HERO */
.hero {
  text-align: center;
  margin-top: 40px;
  padding: 0 20px;
}

.subtitle {
  color: #777;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.desc {
  color: #aaa;
  font-size: 14px;
}

/* OPTIONS */
.options {
  margin-top: 40px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* CARD */
.card {
  background: #161616;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  background: #1f1f1f;
}

.card .icon {
  font-size: 20px;
  margin-right: 10px;
}

.card div {
  flex: 1;
}

.card h3 {
  font-size: 16px;
}

.card p {
  font-size: 12px;
  color: #888;
}

.card span {
  font-size: 18px;
  color: #aaa;
}